.vscode/**
.vscode-test/**
src/**
.gitignore
tsconfig.tsbuildinfo
.kilo/
.yarnrc
tsconfig.json
eslint.config.mjs
**/*.map
**/*.ts
!out/**/*.js
node_modules/**
pnpm-lock.yaml
*.vsix
examples/**
docs/**
test/**
esbuild.js
biome.json
package.json
.github
esbuild.js
biome.json
package.json
